@tailwind base;
@tailwind components;
@tailwind utilities;

.recipes-count {
    font-size: 21px;
    font-family: "Anton", sans-serif;
    text-align: right;
    margin-right: 2rem;
}

.card {
    width: 25%;
    margin: 2rem;
    position: relative;
}

.card-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;
}

.time {
    background-color: #FFD15B;
    position: absolute; 
    top: 1rem;
    right: 1rem;
    font-size: 12px;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
}

.card-content {
    padding: 2rem 1.5rem;
    background-color: #ffffff;
    border-radius: 0px 0px 21px 21px;
}

.card-content h2 {
    font-family: "Anton", sans-serif;
}

.card-content h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    color: #7A7A7A;
    margin: 1rem 0;
}

.card-content p {
    font-family: "Manrope", sans-serif;
}

.recette {
    height: 100px;
    overflow: scroll;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
}

.ingredient {
    width: 50%;
    margin-bottom: 1rem;
}

.quantity {
    color: #7A7A7A;
}

#ingredients p, #appareils p, #ustensiles p {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;

} 

#ingredients p:hover, #appareils p:hover, #ustensiles p:hover {
    background-color: #FFD15B;
    cursor: pointer;
} 

.no-recipes {
    margin-bottom: 12rem;
}

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    height: 16px;
    width: 16px;
    background-image: url('assets/icons/close_search.svg');
    background-size: cover;
    cursor: pointer;
    border: none;
}

input[type="search"]::selection {
    background-color: transparent;
}

#selected-tags img {
    margin-left: 1rem;
}

.selected-tag-div {
    display: flex;
    background-color: #FFD15B;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem;
    margin-right: 1rem;
}